block javascripts
 script(src='/javascripts/sendmail.js')

section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
        h2 Your quintessential about me page.
      p Use this page to tell people all about you!

section(class="main-content")
    textarea(id="mailtext") put text here
    button(id="btn1") click me 