section(class="page")
  div(class="chart-wrapper")
    |<canvas id="chart-element" width="1000px" height="500">Your browser does not support HTML5 Canvas.</canvas>
    |<div class="choise-holder">
    |<label class="time-choose-label">Choose time period to show: </label>
    |<select id="period-choose" class="period-choose">
    |   <option value="60">1 minute</option>
    |   <option selected="selected" value="300">5 minutes</option>
    |   <option value="600">10 minutes</option>
    |   <option value="1200">20 minutes</option>
    |   <option value="1800">30 minutes</option>
    |</select>
    |</div>

